задания тут

https://online.hse.ru/mod/quiz/view.php?id=352214

## 1

In [3]:
a = []
for i in range(10):
    a.append(i**2)

a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
word = 'qwerty'

word.find('er')

2

In [7]:
word[2:]

'erty'

In [8]:

a = ["cat","bacbac","account","acca","acabaca"]
for w in a:
    print(w, w.find('ac'), w.rfind('ac'), sep='\t')

cat	-1	-1
bacbac	1	4
account	0	0
acca	0	0
acabaca	0	4

## 3

## 2

In [10]:
marks = [2,2,2,2,2,5,5,5,5,5,6,6,6,6,6]
marks_set = set(marks)
print(*sorted(marks_set))

2 5 6

In [11]:
set('aaaaaabbbbbbb')

{'a', 'b'}

## 4

In [39]:
text = 'cat cat cat cat drinks drinks drinks  milk milk and another cat plays' 

container = {} 
for var in text.split(): 
    if var in container: 
        container[var] += 1 
    else: 
        container[var] = 1

container

{'and': 1, 'another': 1, 'cat': 5, 'drinks': 3, 'milk': 2, 'plays': 1}

In [13]:
from collections import Counter

In [15]:
Counter(text.split())

Counter({'and': 1, 'another': 1, 'cat': 5, 'drinks': 1, 'milk': 1, 'plays': 1})

In [19]:
from collections import defaultdict

container = defaultdict(int)
for var in text.split(): 
    container[var] += 1 

container

defaultdict(int,
            {'and': 1,
             'another': 1,
             'cat': 5,
             'drinks': 1,
             'milk': 1,
             'plays': 1})

In [23]:
container['cat']

5

In [24]:
container['cat'] = 1000000000

In [25]:
container

defaultdict(int,
            {'and': 1,
             'another': 1,
             'cat': 1000000000,
             'drinks': 1,
             'milk': 1,
             'plays': 1})

## 5

In [26]:
2+2

4

In [27]:
2*3

6

In [28]:
'a'+'b'

'ab'

In [29]:
'a'*10

'aaaaaaaaaa'

In [30]:
def double_s(s):
    return s * 2

def add_letters(s):
    s += "a"
    return double_s(s) + 'c'

def my_function(x):
    return (x + 'a')*2 + 'c'

# babac
my_function('b')

'babac'

In [32]:
my_function = lambda x: (x + 'a')*2 + 'c'
my_function('BBBBB')

'BBBBBaBBBBBac'

In [33]:
sq = lambda x: x**2
sq(9)

81

In [43]:
sorted(container.items(), key=lambda x: (-x[1],x[0]), reverse=True)

[('plays', 1),
 ('another', 1),
 ('and', 1),
 ('milk', 2),
 ('drinks', 3),
 ('cat', 5)]

In [38]:
f = lambda x: x[1]

c = ('cat', 1000000000)
f(c)

1000000000

## 6

In [44]:
mark = int(input())

# ваш код здесь

if mark>=4:
    print('ЗАЧЕТ')
else:
    print('НЕЗАЧЕТ')

8
ЗАЧЕТ

In [47]:
print('ЗАЧЕТ' if mark>=4 else 'НЕЗАЧЕТ')

ЗАЧЕТ

## 7

In [52]:
N1 = int(input())
N2 = int(input())

2
10

In [48]:
7//2, 7%2

(3, 1)

In [53]:
# ваше решение здесь

for number in range(N1, N2+1):
    if number%2==0:
        print(number**2)

4
16
36
64
100

## 8

In [54]:
names = input().split()
fruits = input().split()

й ц у
ф ы в

In [60]:
for i in range(len(names)):
    #print(names[i], 'любит', fruits[i])
    print(f'человек по имени {names[i]} - номер {i} - любит фрукт {fruits[i]} - ура!')

человек по имени й - номер 0 - любит фрукт ф - ура!
человек по имени ц - номер 1 - любит фрукт ы - ура!
человек по имени у - номер 2 - любит фрукт в - ура!

## 9

In [62]:
word = 'кот'
letter = 'к'

word[0] == letter

True

In [63]:
word = 'кот'
letter = 'к'

if word[0] == letter:
    answer = True
else:
    answer = False
print(answer)

True

In [64]:
def check_first_letter(word, letter):
    return word[0] == letter

In [65]:
def check_first_letter(word, letter):
    if word[0] == letter:
        return f'ура это слово начинается с буквы {letter}'
    else:
        return 'о нет'

In [66]:
def check_first_letter(word, letter):
    return f'ура это слово начинается с буквы {letter}' if word[0] == letter else 'о нет'

In [67]:
check_first_letter('кот', 'к')

'ура это слово начинается с буквы к'

## 10

### вариант 1

In [68]:
dic = {}
s= []
while True:
    a = input()
    if a == 'END':
        break
    name, ticket = a.split('; ')
    dic[ticket] = name
b = input().split()
for i in b:
    if i in dic and i not in s:
        s.append(dic[i])
print(*sorted(s))

# Harry; 20
# Hermione; 15
# Ron; 12
# Harry; 21
# Ron; 8
# Hermione; 33
# Hermione; 11
# END
# 15 21 11

Harry; 20
Hermione; 15
Ron; 12
Harry; 21
Ron; 8
Hermione; 33
Hermione; 11
END
15 21 11
['Harry', 'Hermione']

In [72]:
print(s, sep='_____')

['Hermione', 'Harry', 'Hermione']

In [73]:
print(*s, sep='_____')

Hermione_____Harry_____Hermione

In [74]:
print(1,2,3, sep='_____')

1_____2_____3

### вариант 2.1

In [77]:
d = {}
name_ticket = input()
while name_ticket != 'END':
    name,ticket = name_ticket.split('; ')
    if name not in d:
        d[name] = []
        d[name].append(ticket)
    else:
        d[name].append(ticket)
    name_ticket = input()

a; 1
a; 2
a; 3
b; 1
c; 2
d; 3
END

In [78]:
winner = input().split()

1 2

In [79]:
d

{'a': ['1', '2', '3'], 'b': ['1'], 'c': ['2'], 'd': ['3']}

### вариант 2.2

In [ ]:
from collections import defaultdict

d = defaultdict(list)
name_ticket = input()
while name_ticket != 'END':
    name,ticket = name_ticket.split('; ')
    d[name].append(ticket)
    name_ticket = input()

winner = input().split()

In [81]:
a = []
for name in d:
    for ticket in d[name]:
        if ticket in winner:
            a.append(name)
print(*sorted(set(a)), sep=', ')

a, b, c

In [ ]:
a = []
for name in d:
    if len(set(d[name]) & set(winner)) >= 1:
        a.append(name)
print(*sorted(a), sep=', ')

## 11

In [91]:
d = {
    'Harry Potter': [7, 6, 8, 6, 6],
    'Hermione Granger': [10, 10, 9, 10, 10, 9, 9],
    'Ron Weasley': [6, 5, 7, 4, 5],
    'Ginny Weasley': [9, 7, 8]
}

In [ ]:
def get_excellent(d):
    good = []
    for student in d:
        if sum(d[student])/len(d[student]) >= 8:
            good.append(student)
    return sorted(good)

In [83]:
[i for i in range(2,8)]

[2, 3, 4, 5, 6, 7]

In [87]:
[(i, i**2, i**3) for i in range(2,8)]

[(2, 4, 8), (3, 9, 27), (4, 16, 64), (5, 25, 125), (6, 36, 216), (7, 49, 343)]

In [89]:
[(i, i**2, i**3) for i in range(2,8) if i%2==0]

[(2, 4, 8), (4, 16, 64), (6, 36, 216)]

In [94]:
[key for key, value in d.items()]

['Harry Potter', 'Hermione Granger', 'Ron Weasley', 'Ginny Weasley']

In [97]:
{tuple(value):key for key, value in d.items()}

{(6, 5, 7, 4, 5): 'Ron Weasley',
 (7, 6, 8, 6, 6): 'Harry Potter',
 (9, 7, 8): 'Ginny Weasley',
 (10, 10, 9, 10, 10, 9, 9): 'Hermione Granger'}

In [100]:
def get_excellent(d):
    return sorted([student for student in d if sum(d[student])/len(d[student]) >= 8] )

['Ginny Weasley', 'Hermione Granger']

## 12

### вариант 1

In [124]:
with open('apartments.csv') as f:
    table = f.read()

table = table.split('\n')[:-1]
table

['67200,2,Войковская,52611',
 '69948,2,Войковская,40738',
 '95313,1,Бабушкинская,48313',
 '77793,3,Академическая,43650',
 '23846,3,Профсоюзная,45192',
 '38750,4,Войковская,48921',
 '66145,2,Октябрьское Поле,36477',
 '29028,3,Войковская,32382',
 '15129,3,Бабушкинская,39585',
 '88761,4,Профсоюзная,34029',
 '16212,3,Свиблово,36241',
 '32034,4,Свиблово,45514',
 '50029,1,Войковская,35799',
 '42201,1,Октябрьское Поле,54261',
 '49627,3,Бабушкинская,33404',
 '29759,3,Свиблово,59366',
 '16826,2,Октябрьское Поле,52460',
 '73123,4,Войковская,40730',
 '15497,1,Октябрьское Поле,45117',
 '97979,1,Свиблово,36418',
 '42723,4,Свиблово,52948',
 '36781,3,Сокол,41062',
 '93023,4,Бабушкинская,39861',
 '46173,1,Войковская,51202',
 '68462,3,Октябрьское Поле,45792',
 '31295,3,Академическая,58546',
 '43863,4,Академическая,52354',
 '21383,3,Бабушкинская,30854',
 '45908,4,Академическая,33475',
 '46828,4,Сокол,34421',
 '67212,2,Сокол,40893',
 '21700,4,Октябрьское Поле,37774',
 '54687,3,Сокол,49489',
 '46062,2,Свиблово,26303',
 '46902,3,Сокол,25178',
 '46552,1,Сокол,33149',
 '81544,2,Октябрьское Поле,56647',
 '25345,1,Свиблово,50594',
 '94268,1,Войковская,34312',
 '51894,4,Свиблово,45361',
 '30979,4,Свиблово,26368',
 '94824,1,Профсоюзная,26371',
 '80394,3,Сокол,29543',
 '63905,2,Бабушкинская,40060',
 '51295,3,Свиблово,30696',
 '22676,1,Сокол,45917',
 '61033,3,Бабушкинская,29796',
 '42783,3,Свиблово,26113',
 '77057,4,Октябрьское Поле,56464',
 '13225,1,Свиблово,47990',
 '57386,3,Сокол,38675',
 '25962,2,Войковская,33314',
 '69769,4,Свиблово,28045',
 '88669,1,Войковская,33793',
 '13478,1,Войковская,28697',
 '28469,4,Бабушкинская,31315',
 '79188,1,Академическая,45087']

In [125]:
metro = input()

Войковская

In [126]:
filtered = [line.split(',') for line in table if line.split(',')[2]==metro]
filtered

[['67200', '2', 'Войковская', '52611'],
 ['69948', '2', 'Войковская', '40738'],
 ['38750', '4', 'Войковская', '48921'],
 ['29028', '3', 'Войковская', '32382'],
 ['50029', '1', 'Войковская', '35799'],
 ['73123', '4', 'Войковская', '40730'],
 ['46173', '1', 'Войковская', '51202'],
 ['94268', '1', 'Войковская', '34312'],
 ['25962', '2', 'Войковская', '33314'],
 ['88669', '1', 'Войковская', '33793'],
 ['13478', '1', 'Войковская', '28697']]

In [127]:
filtered_sorted = sorted(filtered, key=lambda x: x[3])

In [128]:
with open(' filtered-apartments.csv', 'w+') as f:
    f.write('\n'.join([','.join(x) for x in filtered]))

### вариант 2

In [132]:
with open('apartments.csv') as f:
    table = f.read()
metro_of_interest = input()


table = table.split('\n')[:-1]
filtered = []
for line in table:
    id, rooms, metro, price = line.split(',')
    if metro == metro_of_interest:
        filtered.append([id, rooms, metro, price])

# filtered = [line.split(',') for line in table if line.split(',')[2]==metro]

Сокол

In [140]:
filtered_sorted

[['46902', '3', 'Сокол', '25178'],
 ['80394', '3', 'Сокол', '29543'],
 ['46552', '1', 'Сокол', '33149'],
 ['46828', '4', 'Сокол', '34421'],
 ['57386', '3', 'Сокол', '38675'],
 ['67212', '2', 'Сокол', '40893'],
 ['36781', '3', 'Сокол', '41062'],
 ['22676', '1', 'Сокол', '45917'],
 ['54687', '3', 'Сокол', '49489']]

In [139]:
filtered_sorted = sorted(filtered, key=lambda x: int(x[3]))

with open('filtered-apartments.csv', 'w+') as f:
    f.writelines([','.join(x)+'\n' for x in filtered_sorted])